html body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  /* background: rgb(197, 198, 199) */
  background-image: url('1561091.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

body {
  display: flex;
  justify-content: center;
  min-width: 100vh;
  min-height: 100vh;
}

.app-all {
  padding: 30px 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-title {
  font-size: 30px;
  /* -webkit-text-stroke: 1px #fff; */
  color: #fff;
  font-weight: 300;
  margin-bottom: 20px;
}

.route-displays {
  display: flex;
  justify-content: space-between;
}

#canvas {
  /* border: 1px solid red; */
  background: #fff;
  width: 600px;
  height: 500px
}

.right-display {
  margin-left: 30px;
}

#fittest {
  background: #fff;
  width: 300px;
  height: 250px;
}

.canvas-label {
  font-size: 20px;
  margin-bottom: 10px;
}

.run-info {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* border: 1px solid purple; */
  background: rgb(10,28,50);
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #fff;
  margin: 10px;
  font-size: 16px;
  line-height: 20px;
}

.run-metric-label {
  font-weight: 400;
}

.below-canvases {
  display: flex;
  justify-content: space-between;
}

.instructions {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* border: 1px solid purple; */
  background: rgb(10,28,50);
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #fff;
  margin: 10px;
  font-size: 16px;
  line-height: 20px;
}

.instructions-label {
  font-size: 19px;
  line-height: 28px;
  font-weight: 400;
}

.instructions li {
  margin-bottom: 5px;
}

.background {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* border: 1px solid purple; */
  background: rgb(10,28,50);
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #fff;
  margin: 10px;
  font-size: 16px;
  line-height: 20px;
}

.background p {
  margin: 5px;
}

.question-circle {
  /* fill: #fff; */
  width: 16px;
  height: 16px;
}